{% extends 'base.html.twig' %}

{% block body %}
    <h1>Homepage</h1>
    {% for post in posts %}
        <div>
            <p>Post by {{ post.user.email }} on {{ post.createdAt|date("F d, Y H:i") }}.</p>
            {% if is_granted("ROLE_SUPERUSER") or app.user.email == post.user.email %}
                <p>delete</p>
            {% endif %}
            <p>{{ post.post }}</p>
        </div>
    {% endfor %}
    {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            <li {{ thisPage == 1 ? 'class="disabled"' }}>
                <a href="{{ path('app_homepage', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..maxPages %}
                {% if i <= thisPage + 5 and i >= thisPage - 5 %}
                <li {{ thisPage == i ? 'class="active"' }}>
                    <a href="{{ path('app_homepage', {page: i}) }}">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {# `»` arrow #}
            <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                <a href="{{ path('app_homepage', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}